<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="con">
        <h3>CONTACT US</h3>
        Contact No: 91******** <br>
        Email     : abcdef@gmail.com <br>
        Address   : TourismAZ Kerala <br><br>
        <form action="">
          <h6>Please provide email address for more details</h6> 
          <label for="">EMAIL    </label>
          <input type="email"><br><br>
          <label for=""></label>
          <input type="submit"><br><br>
        </form>   
      </div>
    </div>
      <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63005.12821389491!2d76.74304179293075!3d9.26032825024889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b06152f4f9705d7%3A0x4d93dd296d4b4abc!2sPathanamthitta%2C%20Kerala!5e0!3m2!1sen!2sin!4v1675847488275!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>
  </div>