 <div class="frm">
    <form action="">
        <h1>Please fill the below details</h1> <br>
        <label for="">NAME     </label> 
        <input type="text"><br><br>
        <label for="">EMAIL    </label>
        <input type="email"><br><br>
        <label for="">CONTACT  </label>
        <input type="number"><br><br>  
        <label for="">GENDER</label> &nbsp;&nbsp;
        <input type="radio" name="Gender" value="Male">Male
        <input type="radio" name="Gender" value="Female">Female
        <input type="radio" name="Gender" value="Transgender">Transgender
        <br><br>
        <label for="">USERNAME </label> 
        <input type="text"><br><br>
        <label for="">PASSWORD </label>
        <input type="password"><br><br>
        <label for="">CONFIRM PASSWORD </label>
        <input type="password"><br><br>
    
        <label for=""></label>
        <input type="submit"><br><br>
    </form>
</div> 


